[submodule "theme"]
	path = theme
	url = https://git.sr.ht/~jonsterling/forester-base-theme
[submodule "trees"]
	path = trees
	url = https://github.com/frankndrssn/trees.git
[submodule "assets"]
	path = assets
	url = https://github.com/frankndrssn/assets.git
